h1 {
    /* color: white !important; */
    color: black !important;
    margin: 0 5%;
    text-transform: uppercase;
    @media (max-width: 650px) {
        text-align: center;
    }
}

.swiper {
    width: 100%;
    padding: 1rem 5% 2rem;
    margin-bottom: 1rem;
    @media (max-width: 650px) {
        padding: 1rem 15% 2rem;
    }
}
  
.swiper-slide {
    background-position: center;
    background-size: cover;
    /* width: 30rem;
    /* height: 30rem; */
}

.swiper-wrapper {
    /* margin: 0 0 1rem; */
}

.swiper-scrollbar-drag {
    background-color: #6c9089 !important;
}

.swiper-button-next, .swiper-button-prev {
    color: #6c9089;
    filter: drop-shadow(0.2rem 0.2rem 0.3rem #0008);
    top: 0;
    width: 5%;
    height: 100%;
    /* background-color: red; */
    /* backdrop-filter: blur(.1rem); */
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 650px) {
        width: 10%;
    }
}
.swiper-button-prev {
    left: 0;
}
.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet-active {
    background-color: #6c9089 !important;
    filter: drop-shadow(0.2rem 0.2rem 0.3rem #0008);
}