@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Black.woff2') format('woff2'),
        url('MontserratAlternates-Black.woff') format('woff'),
        url('MontserratAlternates-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Thin.woff2') format('woff2'),
        url('MontserratAlternates-Thin.woff') format('woff'),
        url('MontserratAlternates-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-SemiBold.woff2') format('woff2'),
        url('MontserratAlternates-SemiBold.woff') format('woff'),
        url('MontserratAlternates-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Bold.woff2') format('woff2'),
        url('MontserratAlternates-Bold.woff') format('woff'),
        url('MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-ExtraBold.woff2') format('woff2'),
        url('MontserratAlternates-ExtraBold.woff') format('woff'),
        url('MontserratAlternates-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates ExLight';
    src: url('MontserratAlternates-ExtraLight.woff2') format('woff2'),
        url('MontserratAlternates-ExtraLight.woff') format('woff'),
        url('MontserratAlternates-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Medium.woff2') format('woff2'),
        url('MontserratAlternates-Medium.woff') format('woff'),
        url('MontserratAlternates-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Light.woff2') format('woff2'),
        url('MontserratAlternates-Light.woff') format('woff'),
        url('MontserratAlternates-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Effra';
    src: url('Effra-Bold.woff2') format('woff2'),
        url('Effra-Bold.woff') format('woff'),
        url('Effra-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

