
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
    text-wrap: wrap;
}

.max-conteudo {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10rem;
    @media (max-width: 1000px) {
        padding: 0 2rem;
    }
}

button {
    cursor: pointer;
    transition-duration: .3s;
    &:hover {
        transform: scale(1.05);
    }
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.4rem;
}

p {
    font-size: 1.8rem;
    color: var(--color01);
    b {
        font-size: 1.8rem;
    }
}

/* .min-conteudo {
    width: 60%;
    margin: 0 auto;
    max-width: 1100px;
    @media (max-width: 1100px) {
        width: 80%;
    }
    @media (max-width: 768px) {
        width: 90%;
    }
}

p {
    font-size: 15px;
} */