
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
    text-wrap: pretty;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-image: url(./assets/img/croqui.png); */
    background-image: url(./assets/img/bgtotal.png);
    background-size: contain;
}

.max-conteudo {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 10.4vw;
    overflow: hidden;
    /* background-color: #0005; */

    @media (max-width: 720px) {
        padding: 0 2rem;
    }
}

button {
    cursor: pointer;
    transition-duration: .3s;
    &:hover {
        transform: scale(1.05);
    }
}

h1 {
    font-size: 5rem;
    font-family: 'Montserrat';
}

h2 {
    font-size: 3.5rem;
    font-family: 'Montserrat';
}

h3 {
    font-size: 2.4rem;
    font-family: 'Montserrat';
}

p {
    color: var(--color01);
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.6vw;
    line-height: 1.4;
    @media (max-width: 720px) {
        line-height: 5vw;
        font-size: 4.2vw;
    }
    b {
        font-family: 'Montserrat';
        font-size: 1.6vw;
        font-weight: 700;
        @media (max-width: 720px) {
            font-size: 4.2vw;
        }
    }
}

a {
    font-family: 'Montserrat';
}

.swiper-pagination {
    .swiper-pagination-bullet {
        width: .9vw;
        height: .9vw;
        opacity: 1;
        border-radius: 100%;
        background-color: transparent;
        @media (max-width: 1000px) {
            width: .8rem;
            height: .8rem;
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}